body {
  background: #f7f7f8;
}

html.ios-gt-8 .pages .list-block.media-list .item-title {
  font-weight: normal;
}
.pages {
  background-color: #f7f7f8;
  font-size: 15px;
}
/*@font-face {font-family: 'iconfont';*/
  /*src: url('../fonts/iconfont.eot');*/
  /*src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),*/
  /*url('../fonts/iconfont.woff') format('woff'),*/
  /*url('../fonts/iconfont.ttf') format('truetype'),*/
  /*url('../fonts/iconfont.svg#iconfont') format('svg');*/
/*}*/

@font-face {
  font-family: 'iconfont';  /* project id 123940 */
  src: url('//at.alicdn.com/t/font_123940_bec5q4m04927qfr.eot');
  src: url('//at.alicdn.com/t/font_123940_bec5q4m04927qfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_123940_bec5q4m04927qfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_123940_bec5q4m04927qfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_123940_bec5q4m04927qfr.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}
a {
  color: #000000;
}

img {
  border: none;
  vertical-align: middle;
}

img[lazy=loading] {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

img.img-width20 {
  width: 20px;
  height: 20px;
}

img.width100 {
  width: 100%;
  height: 200px;
}

.page[data-page="classificationSelection"] .toolbar {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: 0ms;
  -o-transition: 0ms;
  transition: 0ms;
}

.navbar,
.tabbar {
  background: #ffffff;
  font-size: 13px;
}
.navbar:after{
  background-color: rgba(7, 17, 27, 0.1);
}
.navbar img,
.tabbar img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.toolbar a.active {
  color: #66CC66;
}
.toolbar:before{
  background-color: rgba(7, 17, 27, 0.1);
}
.swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
}

.swiper-container .swiper-pagination-bullet {
  background: #c5c5c5;
  opacity: 10;
}

.margin-content.content-block, .margin-content.list-block {
  margin: 15px 0;
}

.margin-none.list-block {
  margin: 0;
}

.border-none.list-block ul:before,
.border-none.list-block ul:after,
.border-none.content-block-inner:before,
.border-none.content-block-inner:after {
  background-color: #ffffff;
}

.column {
  text-align: center;
  margin: 35px 0 0 0;
}

.column span {
  display: block;
  position: relative;
}


.pages .list-block .item-text {
  height: 20px;
  font-size: 12px;
}

.pages .list-block.media-list .item-title,
.pages .list-block .item-after， .commodity-money {
  font-size: 15px;
}

.commodity-money .money {
  color: #ff0000;
  font-size: 15px;
}

.commodity-money .unit {
  color: #c5c5c5;
  font-size: 15px;
}

.commodity-money .price {
  font-size: 15px;
}

.list-block .item-inner:after{
  background: rgba(7, 17, 27, .1);
}
.list-block ul:before{
  background: rgba(7, 17, 27, .1);
}
.bg-red{
  background-color: #ff3b30;
}
.searchbar:after {
  content: none
}
.userpassword .page-content {
  background-color: #f7f7f8;
  font-size: 18px;
  color: #1F2124;
}
.userpassword .user_register .item-content .item-inner a {
  font-size: 12px;
  width: 130px;
}

.button {
  color: #1F2124;
  border-color: #1F2124;
}

.userpassword .password-button {
  color: #fff;
  width: 90%;
  margin: 20px auto;
  background: #333;
  border: none;
}
.button.button-big {
  font-size: 17px;
  height: 44px;
  line-height: 42px;
}
.weui-mask, .weui-mask_transparent {
  z-index: 9000;
 }
.weui-toast,.weui-dialog,.weui-picker{
  z-index: 9999;
}
.navbar .right {
  min-width: 20px;
}
